table {
    width: 500px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-spacing: 0px; 
  }

 td {
    border-width: 1px;
    border-style: solid;
    border-color: black;
 }

 .header {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color: yellowgreen;
  }